apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "webapp-chart.fullname" . }}-config
  labels:
    {{- include "webapp-chart.labels" . | nindent 4 }}
data:
  APP_LOG_LEVEL: {{ .Values.config.app.logLevel | quote }}
  APP_DEBUG: {{ .Values.config.app.debug | quote }}
  APP_ENVIRONMENT: {{ .Values.config.app.environment | quote }}
