apiVersion: apps/v1
kind: Deployment
metadata:
  name: production-backend
  labels:
    app: production-backend
    environment: production
spec:
  replicas: 2
  selector:
    matchLabels:
      app: production-backend
      environment: production
  template:
    metadata:
      labels:
        app: production-backend
        environment: production
    spec:
      containers:
      - name: backend
        image: httpd:2.4
        ports:
        - containerPort: 8080
